@define-color	rosewater  #ebbcba;
@define-color	rosewater-rgb  rgb(235, 188, 186);
@define-color	flamingo  #eb6f92;
@define-color	flamingo-rgb  rgb(235, 111, 146);
@define-color	pink  #eb6f92;
@define-color	pink-rgb  rgb(235, 111, 146);
@define-color	mauve  #c4a7e7;
@define-color	mauve-rgb  rgb(196, 167, 231);
@define-color	red  #eb6f92;
@define-color	red-rgb  rgb(235, 111, 146);
@define-color	maroon  #eb6f92;
@define-color	maroon-rgb  rgb(235, 111, 146);
@define-color	peach  #f6c177;
@define-color	peach-rgb  rgb(246, 193, 119);
@define-color	yellow  #f6c177;
@define-color	yellow-rgb  rgb(246, 193, 119);
@define-color	green  #31748f;
@define-color	green-rgb  rgb(49, 116, 143);
@define-color	teal  #9ccfd8;
@define-color	teal-rgb  rgb(156, 207, 216);
@define-color	sky  #9ccfd8;
@define-color	sky-rgb  rgb(156, 207, 216);
@define-color	sapphire  #31748f;
@define-color	sapphire-rgb  rgb(49, 116, 143);
@define-color	blue  #31748f;
@define-color	blue-rgb  rgb(49, 116, 143);
@define-color	lavender  #c4a7e7;
@define-color	lavender-rgb  rgb(196, 167, 231);
@define-color	text  #e0def4;
@define-color	text-rgb  rgb(224, 222, 244);
@define-color	subtext1  #908caa;
@define-color	subtext1-rgb  rgb(144, 140, 170);
@define-color	subtext0  #6e6a86;
@define-color	subtext0-rgb  rgb(110, 106, 134);
@define-color	overlay2  #6e6a86;
@define-color	overlay2-rgb  rgb(110, 106, 134);
@define-color	overlay1  #524f67;
@define-color	overlay1-rgb  rgb(82, 79, 103);
@define-color	overlay0  #26233a;
@define-color	overlay0-rgb  rgb(38, 35, 58);
@define-color	surface2  #403d52;
@define-color	surface2-rgb  rgb(64, 61, 82);
@define-color	surface1  #26233a;
@define-color	surface1-rgb  rgb(38, 35, 58);
@define-color	surface0  #1f1d2e;
@define-color	surface0-rgb  rgb(31, 29, 46);
@define-color	base  #191724;
@define-color	base-rgb  rgb(25, 23, 36);
@define-color	mantle  #16141f;
@define-color	mantle-rgb  rgb(22, 20, 31);
@define-color	crust  #0f0e19;
@define-color	crust-rgb  rgb(15, 14, 25);

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}
/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 8px;
  background-color: @base;
}
/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}
/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}
/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}
/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}
#input image {
    border: none;
    color: @red;
}
#input * {
  outline: 4px solid @red!important;
}
/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}
#entry {
  background-color: @base;
}
#entry arrow {
  border: none;
  color: @lavender;
}
/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}
#entry:selected #text {
  color: @mauve;
  background-color: @base;
}
#entry:drop(active) {
  background-color: @iris!important;
}
