[Desktop Entry]
Name=ChatGPT
Comment=ChatGPT Web App
Exec=/home/brenocrs/.local/bin/pwa-launch.sh chatgpt
Icon=chatgpt
Terminal=false
Type=Application
Categories=Network;Development;Office;
